@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    font-family: 'Arvo', serif;
    margin: 0px;
}
:root {
    --primary-color: #A3E635;
    --links-black: #0F172A;
    --black-black: black;
    --links-white: white;
}

header {
    background-color: var(--black-black);
    color: white;
    padding: 2rem;
}

nav {
    text-align: right;
    margin: auto;
}

a {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--links-black);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    margin: auto;
}

h1 {
    display: block;
    text-align: center;
}

header h1 {
    text-align: left;
}

label {
    display:  block;
    text-align: center;
}
input {
    display: block;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 30%;
}

button {
    padding: 0.5rem;
    margin: 1rem auto;
    display:  block;
    text-align: center;
    cursor: pointer;
}  

  
p {
    padding: 2rem;
    text-align: center;
    font-size: large;
}
